
$logo: url(~@/assets/img/logo/inco-med_logo_x1.png);

// картинки для смены bgr в карточках сервисов
$doctor1: url(~@/assets/img/solutionsBlock/portrait-doctor_1_x1.png);
$doctor2: url(~@/assets/img/solutionsBlock/portrait-doctor_2_x1.png);
$doctor3: url(~@/assets/img/solutionsBlock/portrait-doctor_3_x1.png);
$doctor4: url(~@/assets/img/solutionsBlock/portrait-doctor_4_x1.png);

$xray1: url(~@/assets/img/solutionsBlock/xray_480_10501_x1.png);
$xray2: url(~@/assets/img/solutionsBlock/xray_480_10502_x1.png);
$xray3: url(~@/assets/img/solutionsBlock/xray_480_10503_x1.png);
$xray4: url(~@/assets/img/solutionsBlock/xray_480_10504_x1.png);

$mountains1: url(~@/assets/img/solutionsBlock/mountains_1_x1.png);
$mountains2: url(~@/assets/img/solutionsBlock/mountains_2_x1.png);

$resourse01: url(~@/assets/img/solutionBlockForMob/background_group01_x1.png);

$phone: url(~@/assets/img/phone_x1.png);
$medhelp01: url(~@/assets/img/solutionsBlock/medhelp01_x1.png);
$rotateMedhelp01: url(~@/assets/img/solutionsBlock/rotateMedhelp01_x1.png);

$expertise1: url(~@/assets/img/solutionsBlock/expertise_1_x1.png);


$question: url(~@/assets/img/solutionsBlock/question.png);

$docLogo: url(~@/assets/img/svg/doctorGroup.svg);
$clinicLogo: url(~@/assets/img/svg/clinicGroup.svg);
$locationLogo: url(~@/assets/img/svg/locationGroup.svg);
$foodLogo: url(~@/assets/img/svg/foodGroup.svg);
$roomTypeLogo: url(~@/assets/img/svg/HOTEL.svg);

$anamnesisLogo: url(~@/assets/img/svg/anamnesis.svg);
$vaccinationsLogo: url(~@/assets/img/svg/vaccination.svg);
$researchLogo: url(~@/assets/img/svg/research.svg);
$hospitalizationLogo: url(~@/assets/img/svg/hospitalization.svg);
$medAppointmentsLogo: url(~@/assets/img/svg/medAppointments.svg);

// $bgBurger: url(~@/assets/img/svg/vectorBurger.svg);